%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [
        {lager,".*", {git,"git://github.com/basho/lager", {tag, "2.1.1"}}},
        {pooler, ".*",
         {git, "git://github.com/seth/pooler.git", {branch, "master"}}}
        ]}.

{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            warn_unused_vars,
            nowarn_shadow_vars,
            warn_unused_import
           ]}.
{eunit_opts, [verbose]}.
